.headSection1 {
    width: 100vw;
    background-size: cover;
    background-position: center;
    color: white;


}
.headSection1 p{
    font-weight: normal;
    text-align: center;
    position: relative;
    top:34%;
    font-family: 'Times New Roman', Times, serif !important ;


}
.headSection1 #heading {
    font-weight:normal;
}
