@import "tailwindcss";

body, html {
    overflow-x: hidden;
}

:root {
    --color-primary: #1b388b; /* Tailwind blue-500 */
    --color-secondary: #030713; /* Tailwind green-500 */
    --color-accent: #f43f5e; /* Tailwind rose-500 */
    --color-bg: #f5f5f5;
    --color-text: #1f2937;
    --color-dark: #0a1810;
    --color-light: rgba(11, 138, 68, 0.73);
    --color-admin: #101a33;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}

.screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;  /* added this*/
}
